@model IEnumerable<Quiz.Models.Question>

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions</h1>
<p>
    @*<a asp-action="CreateQuestion">Create New</a>*@
    @Html.ActionLink("Create New", "CreateQuestion", new { id = ViewBag.quizId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Details", "QuestionDetails", new { questionId = item.QuestionId, quizId = ViewBag.quizId }) |
                    @Html.ActionLink("Edit", "Edit", new { questionId = item.QuestionId, quizId = ViewBag.quizId }) |
                    @Html.ActionLink("Delete", "DeleteQuestion", new { questionId = item.QuestionId, quizId = ViewBag.quizId })
                </td>
            </tr>
        }
    </tbody>
</table>
